* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-image: url(./images/tic-tac-toe-pattern-background_1242337.jpg);
} */
body {
  width: 100%;
  height: 100vh;
}

body div{
  display: flex;
  flex-direction: column;
}

.outerBox {
  display: flex;
  flex-wrap: wrap;
  background-color:white;
  margin-top: 20px;
  border: 3px solid white;
  width: 40%;
  align-self: center;
  height: 400px;
}

.innerBox {
  display: flex;
  background-color: #262626;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  width: 33.33%;
  height: 33.33%;
  transition: 0.5s;
}
.innerBox:hover {
  width: 31%;
  height: 31%;
}

/* button {
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: tomato;
  width: 100px;
  align-self: center;
} */
@media screen and (max-width:500px) {
  .outerBox {
    width: 90vw;
    height: 30vh;
  }

}